<div style="margin-top: 10%;">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="100" style="margin-top: 60px;">

      <p style="text-align: center; margin-left: 0px; font-size: 25px;">
        Recuperar contraseña
      </p>
      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field fxFlex="30">
          <input [(ngModel)]="email" type="email" matInput placeholder="Ingresa tu email">
        </mat-form-field>
      </div>

      <div *tdLoading="'loading'; mode:'indeterminate'; type:'circle'; strategy:'replace'; color:'accent'" >
        <div *ngIf="!buttonHidden" fxLayout="row" fxLayoutAlign="center center" style="margin-top: 50px;">
          <a mat-raised-button class="login-button" fxFlex="30" (click)="submit()">Recuperar contraseña</a>
        </div>
      </div>
    </div>
  </div>
</div>
