
.login-button {
  background: #e53935;
  color: #ffffff;
  margin-bottom: 30px;
}

.register {
  color: white;
  font-size: 15px;
  background: none;
}

.forgot-pwd {
  text-align: right;
}

mat-icon {
  cursor: pointer;
}
