.offer-summary-dialog-container {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
}

.send-button {
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  background: #43CC81;
  color: #ffffff;
  width: 100%;
}

.form-field-container {
  display: block;
}
