<p class="header">
  Cambiar contraseña
</p>

<div *tdLoading="'loading'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">
  <div fxLayout="row" fxLayoutAlign="center center">

    <div fxFlex="65">
      <div class="section-header-container" fxLayout="row" fxLayoutAlign="center center">
        <span class="section-header">Datos</span>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field fxFlex="46">
          <input type="password" matInput placeholder="Contraseña actual" [(ngModel)]="oldPwd" required>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field fxFlex="46">
          <input type="password" matInput placeholder="Nueva contraseña" [(ngModel)]="newPwd1" required>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field fxFlex="46">
          <input type="password" matInput placeholder="Repita la nueva contraseña" [(ngModel)]="newPwd2" required>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center" class="signup-button-container">
        <a mat-raised-button class="save-button" fxFlex="40" (click)="changePwd()">CAMBIAR CONTRASEÑA</a>
      </div>
    </div>
  </div>
</div>
