.make-offer-dialog-container {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
}

.form-field-container {
  display: block;
}

.send-button {
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  background: #43CC81;
  color: #ffffff;
  width: 100%;
}

.payment-method-checkbox {
  font-size: 14px;
}

  /* Medium screens */
@media all and (max-width: 800px) {

    .make-offer-dialog-container {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
      }
    }
